.path-favoritos{
  #main{
    .home-page{
      margin-top: 225px;
      .region-content{
        .view-header{
          font-size: 16px;
          font-family: 'Roboto';
          padding: 0 15px 20px;
          color: $color-black;
        }
        .view-content{
          padding: 0 15px;
          .views-row{
            float: left;
            width: 25%;
            padding: 10px;
            height: 200px;
            min-width: 160px;
            @media (min-width: 1300px){
              margin-bottom: 40px;
            }
            @media (min-width: 1570px){
              margin-bottom: 90px;
            }
            @media (min-width: 1910px){
              margin-bottom: 140px;
            }
            .views-field-field-product-image{
              padding-bottom: 10px;
              .field-content{
                img{
                  border-radius: 8px;
                }
              }
            }
            .views-field-link-flag{
              position: relative;
              top: -50px;
              width: 52px;
              background-color: rgba(0,0,0,0.18);
              border-bottom-left-radius: 8px;
              border-top-right-radius: 8px;
              .field-content{
                a{
                  font-size: 1px;
                  text-decoration: none;
                  color: $color-favorites;
                  transition: 0.2s;
                  &:hover{
                    color: $color-placeholder !important;
                  }
                  &:focus{
                    outline: 0 !important;
                  }
                  &:before{
                    content: "\f004";
                    font-family: 'FontAwesome';
                    font-size: 28px;
                    left: 11px;
                    position: relative;
                  }
                  @media (max-width: $screen-desktop){
                    color: $color-placeholder !important;
                  }
                }
              }
              .flag-favorites.action-unflag{
                a{
                  color: $color-favorites !important;
                  display: block;
                }
              }
            }
            .views-field-title{
              text-align: center;
              width: 95%;
              top: -40px;
              margin: 0 auto;
              position: relative;
              span{
                a{
                  display: inline-block;
                  font-size: 12px;
                  text-decoration: none;
                  color: $color-black;
                  text-transform: lowercase;
                  transition: all 0.2s ease-in-out;
                  -moz-transition: all 0.2s ease-in-out;
                  -webkit-transition: all 0.2s ease-in-out;
                  &::first-letter{
                    text-transform: capitalize;
                  }
                  &:hover{
                    text-decoration: underline;
                    color: $color-secondary !important;
                  }
                  @media (min-width: 1500px){
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
        .pager{
          li{
            a{
              width: 95%;
              padding: 10px 14px;
              border-radius: 8px;
              background-color: #0C3873;
              color: #fff;
              font-size: 16px;
              letter-spacing: 1px;
            }
          }
        }
        .block-views-blocksuggestions-block-1{
          margin-top: 60px;
          padding: 35px 0 100px 0;
          border-top: 1px solid $color-border-gray;
          h2{
            width: 350px;
            padding: 0 20px;
            @include slide-title();
            margin-bottom: 25px;
          }
          .view-header{
            text-align: right;
            padding: 0 20px;
            position: relative;
            right: 79px;
            z-index: 999;
            width: 90%;
            margin-left: auto;
            top: -30px;
            a{
              @include btn-transparent($size: 16px,$padding: 8px 22px);
              transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -webkit-transition: all 0.2s ease-in-out;
              &:hover{
              @include btn-blue($size: 16px,$padding: 8px 22px);
              border: 1px solid $color-secondary;
              text-decoration: none;
              }
            }
            @media (max-width: 540px){
              top: inherit;
              padding-bottom: 30px;
              padding-left: 20px;
              right: inherit;
              margin-left: 0;
              text-align: left;
            }
          }
          .flag-heart{
            position: relative;
            top: -40px;
            .flag-favorites{
              width: 52px;
              /* border-radius: 0 8px;
               background-color: rgba(0,0,0,0.20); */
              a{
                font-size: 1px;
                text-decoration: none;
                color: transparent;
                &:hover{
                  color: $color-favorites !important;
                }
                &:focus{
                  outline: 0 !important;
                }
                &:before{
                  content: "\f004";
                  font-family: 'FontAwesome';
                  font-size: 28px;
                  left: 11px;
                  position: relative;
                }
                @media (max-width: $screen-desktop){
                  color: $color-placeholder !important;
                }
              }
            }
            .flag-favorites.action-unflag{
              a{
                color: $color-favorites !important;
                display: block;
              }
            }
          }
          .slick__arrow{
            top: -42px;
            width: 100%;
            text-align: right;
            .slick-arrow{
              height: auto;
              text-align: right;
            }
            .slick-prev{
              width: 95%;
              &:before{
                content: "\f104";
                font-family: 'FontAwesome';
                color: $color-black;
                font-size: 40px;
              }
              @media (min-width: 1340px){
                width: 97% !important;
              }
              @media (max-width: $screen-phone){
                width: 85% !important;
              }
            }
            .slick-next{
              width: auto;
              &:before{
                content: "\f105";
                font-family: 'FontAwesome';
                color: $color-black;
                font-size: 40px;
              }
            }
          }
          .slick-list{
            .slick-track{
              .slide{
                ul{
                  li{
                    img{
                      border-radius: 8px;
                    }
                    .slide__caption{
                      padding: 0;
                      h5{
                        @include slide-product-name();
                        padding: 0 20px;
                        text-align: center;
                        position: relative;
                        top: 0px;
                        &::first-letter{
                          text-transform: uppercase;
                        }
                        a{
                          @include slide-product-name();
                          &::first-letter{
                            text-transform: uppercase;
                          }
                        }
                      }
                      .flag-heart{
                        position: relative;
                        top: -40px;
                        .flag-favorites{
                          width: 52px;
                          // border-radius: 0 8px;
                          // background-color: rgba(0,0,0,0.20);
                          a{
                            font-size: 1px;
                            text-decoration: none;
                            color: transparent;
                            &:hover{
                              color: $color-favorites !important;
                            }
                            &:focus{
                              outline: 0 !important;
                            }
                            &:before{
                              content: "\f004";
                              font-family: 'FontAwesome';
                              font-size: 28px;
                              left: 11px;
                              position: relative;
                            }
                            @media (max-width: $screen-desktop){
                              color: $color-placeholder !important;
                            }
                          }
                        }
                        .flag-favorites.action-unflag{
                          a{
                            color: $color-favorites !important;
                            display: block;
                          }
                        }
                      }
                      h5{
                        top: -40px;
                      }
                      @media (max-width: $screen-desktop){
                        h5{
                          top: -40px;
                        }
                      }
                    }
                    &:hover h5{
                      top: -40px;
                    }
                    &:hover a{
                      color: $color-placeholder !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
