/* insurance information page */
.product-content{
  .alert-success{
    display: none;
  }
  .insurance-image{
    margin-top: 88px;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  .main-container{
    padding-left: 30px;
    padding-right: 30px;
    .insurance-header{
      .product-container{
        padding: 0 15px
      }
      .left-col{
        header{
          padding: 30px 0;
          span{
            font-size: 50px;
            float: left;
            padding-right: 10px;
            height: 110px;
            a{
              &:before{
                content: url("../images/left-arrow-chevron.png");
              }
            }
          }
          .category{
            display: inline-flex;
            font-size: 18px;
            color: $color-placeholder;
            font-style: italic;
            .field{
              margin-left: 5px;
            }
          }
          h1{
            font-size: 28px;
            color: $color-black;
            text-transform: lowercase;
            font-family: 'Roboto-Regular';
            margin-top: 0;
            &::first-letter{
              text-transform: uppercase;
            }
            @media (max-width: 849px){
              font-size: 23px;
            }
          }
        }
      }
      .right-col{
        padding: 40px 40px 30px 15px;
        .insurance-links{
          .insurance-download{
            .block-printfriendly{
              float: right;
              a{
                img{
                  display: none;
                }
                &:after{
                  content: "\f1c1";
                  font-family: 'FontAwesome';
                  color: $color-secondary;
                  position: relative;
                  margin: 0 5px;
                  border: 1px solid $color-secondary;
                  padding: 12px 13px;
                  border-radius: 100px;
                  font-size: 19px;
                }
                &:hover:after{
                  padding: 12px 13px;
                  border-radius: 100px;
                  background-color: $color-secondary;
                  border: 1px solid $color-secondary;
                  color: $color-white;
                }
              }
            }
          }
          .insurance-favorites{
            float: right;
            a{
              font-size: 1px;
              text-decoration: none;
              &:after{
                content: "\f004";
                font-family: 'FontAwesome';
                margin: 0 5px;
                font-size: 20px;
                padding: 12px 13px;
                border: 1px solid $color-secondary;
                border-radius: 100px;
                color: $color-secondary;
              }
              &:hover:after{
                text-decoration: none;
                color: $color-white;
                background-color: $color-secondary;
              }
            }
            .action-unflag{
              a{
                &:after{
                  content: "\f004";
                  font-family: 'FontAwesome';
                  margin-left: 10px;
                  color: $color-favorites;
                  background-color: $color-secondary;
                }
                &:hover:after{
                  color: $color-white;
                }
              }
            }
            @media(max-width: $screen-tablet-landscape){
              .flag-favorites{
                margin-bottom: 25px;
              }
            }
            @media (max-width: $screen-tablet){
              a{
                margin-left: 15px;
                margin-right: 5px;
              }
            }
          }
          .share-insurance{
            float: right;
            .block-share-everywhere{
              .block-content{
                .se-trigger{
                  &:before{
                    content: "\f1e0";
                    font-family: 'FontAwesome';
                    margin: 0 5px;
                    font-size: 20px;
                    padding: 12px 13px;
                    border: 1px solid $color-secondary;
                    border-radius: 100px;
                    color: $color-secondary;
                  }
                  &:hover:before{
                    background-color: $color-secondary;
                    color: $color-white;
                  }
                  img{
                    display: none;
                  }
                }
                .se-links-container{
                  overflow: initial;
                  display: none;
                  height: 70px;
                  width: 112px;
                  z-index: 1;
                  position: absolute;
                  right: 9px;
                  background-color: $color-white;
                  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                  border-radius: 8px;
                  ul{
                    width: 100%;
                    height: 100%;
                    li{
                      width: 100%;
                      height: 50%;
                      text-align: center;
                      position: relative;
                      a{
                        position: relative;
                        text-decoration: none;
                      }
                      &:hover{
                        background-color: $color-border-gray;
                      }
                    }
                    .facebook_share{
                      top: -6px;
                      border-top-left-radius: 8px;
                      border-top-right-radius: 8px;
                      a{
                        top: 14px;
                        &:before{
                          content: "\f09a";
                          font-family: 'FontAwesome';
                          font-size: 14px;
                          color: $color-facebook;
                          font-size: 20px;
                          margin-right: 10px;
                        }
                        &:after{
                          content: "Facebook";
                          color: $color-facebook;
                          font-size: 14px;
                          font-family: 'Roboto-Light';
                        }
                        img{
                          display: none;
                        }
                      }
                    }
                    .twitter{
                      top: -15px;
                      border-bottom-left-radius: 8px;
                      border-bottom-right-radius: 8px;
                      a{
                        top: 16px;
                        &:before{
                          content: "\f099";
                          font-family: 'FontAwesome';
                          font-size: 14px;
                          color: $color-twitter;
                          font-size: 20px;
                          margin-right: 10px;
                        }
                        &:after{
                          content: "Twitter";
                          color: $color-twitter;
                          font-size: 14px;
                          font-family: 'Roboto-Light';
                        }
                        img{
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
            &:hover .se-links-container{
              display: block !important;
            }
          }
        }
        /* loading-spinner */
        .ajax-throbber{
          display: none;
        }
        /* ============== */
        @media (max-width: $screen-tablet){
          float: left;
          width: 100%;
        }
      }
      .insurance-buy{
        .modal{
          .modal-content{
            width: 50%;
            min-height: 213px;
            margin-top: 10%;
            .close{
              color: $color-secondary;
              opacity: initial;
              &:hover{
                color: $color-blue-hover;
              }
            }
            p{
              margin: 0px auto 10px;
              padding: 40px 0px 0;
              text-align: center;
              font-size: 18px;
              width: 80%;
              font-family: 'Roboto-Light';
            }
            .modal-btn-group{
              text-align: center;
              .shop{
                background-color: $color-secondary;
                border: 1px solid $color-secondary;
                a{
                  color: $color-white;
                  font-size: 15px;
                  font-family: 'Roboto-Light';
                }
                &:hover{
                  background-color: $color-blue-hover;
                  border: 1px solid $color-blue-hover;
                }
              }
              .cart{
                background-color: $color-third;
                border: none;
                a{
                  color: $color-white;
                  font-size: 15px;
                  font-family: 'Roboto-Light';
                }
                &:hover{
                  background-color: $color-third-hover;
                  a{
                    color: $color-white;
                  }
                }
              }
              .modal-btn{
                min-width: 36%;
                border-radius: 100px;
                margin: 20px 15px 5px;
                -webkit-appearance: none;
                -moz-appearance:    none;
                appearance:         none;
                @media (max-width: $screen-desktop){
                  width: 90%;
                }
                a{
                  text-decoration: none;
                  display: inline-block;
                  width: 100%;
                  padding: 8px 0;
                }
              }
            }
            @media (max-width: $screen-tablet){
              width: 65%;
            }
            @media (max-width: 500px){
              width: 80%;
            }
          }
        }
        form.commerce-order-item-add-to-cart-form{
          .insurance-add-to-cart{
            width: 100%;
            float: left;
            text-align: left;
            @media (max-width: $screen-phone){
              text-align: center;
            }
            button{
              background-color: $color-third !important;
              font-size: 18px;
              padding: 8px 0 !important;
              font-family: "Roboto-Regular";
              font-weight: 300;
              width: 50%;
              max-width: 409px;
              color: #fff;
              letter-spacing: 1px;
              -webkit-box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.18) !important;
              box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.18) !important;
              border: none;
              border-radius: 100px;
              text-decoration: none;
              text-transform: inherit !important;
              margin-bottom: 10px;
              &:hover{
                background-color: $color-third-hover !important;
              }
              &:before{
                content: "\e116";
                font-family: 'Glyphicons Halflings';
                margin-right: 10px;
                font-size: 20px;
                position: relative;top: 2px;
              }
              &:focus{
                outline: 0;
              }
              @media (max-width: 630px){
                width: 60%;
              }
              @media (max-width: $screen-phone){
                width: 95%;
              }
            }
          }
          .insurance-variations{
            padding-top: 40px;
            padding-bottom: 50px;
            .total-price{
              padding: 20px 33px 40px;
              display: inline-flex;
              width: 100%;
              .total-price-label{
                display: inline-block;
                font-size: 18px;
                color: $color-black;
                font-family: 'Roboto-Light';
                margin: auto 0;
              }
              .item-price{
                font-size: 30px;
                color: $color-secondary;
                font-family: 'Roboto-Regular';
                margin: auto 0;
                padding-left: 15px;
              }
            }
            .panel{
              box-shadow: none;
            }
            .panel-default{
              border: none;
              .panel-heading{
                padding: 15px 15px;
                border: 1px solid #eeeeee;
                border-bottom: none;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                background-color: white;
                font-size: 20px;
                font-family: 'Roboto-Light';
                font-weight: 500;

              }
              .panel-body{
                border-top:  3px solid $color-secondary;
                .form-type-radio{
                  margin: -1px 0 2px 0;
                  width: 20%;
                  &:hover{
                    background-color: #f5f5f5;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                  }
                  @media (max-width: 860px){
                    width: 24%;
                  }
                  label{
                    padding-left: 0;
                    width: 100%;
                    &:hover .variations-header{
                      background-color: $color-secondary;
                      color: $color-white;
                    }
                  }
                }
              }
            }
            .cobertura{
              padding-right: 0;
              .panel-default{
                .panel-heading{
                  border-top-right-radius:0;
                  border-right: none;
                  box-shadow: 0px 1px 4px rgba(0,0,0,0.18);
                }
                .panel-body{
                  .characteristic-label{
                    padding-bottom: 10px;
                    font-size: 15px;
                    color: $color-black;
                    font-family: 'Roboto-Light';
                    text-transform: capitalize;
                  }
                }
              }
            }
            .variations{
              padding-left: 0;
              @media (max-width: $screen-tablet){
                padding-left: 15px;
                .panel-heading{
                  padding: 29px 15px;
                  border-top-left-radius:0;
                  border-left: 1px solid #eeeeee !important;
                  border-radius: 8px 8px 0 0!important;
                }
              }
              .panel-default{
                .panel-heading{
                  padding: 29px 15px;
                  border-top-left-radius:0;
                  border-left: none;
                  box-shadow: 2px 1px 4px rgba(0,0,0,0.18);
                  .panel-title{
                    display: none;
                  }
                }
                .panel-body{
                  padding-top: 0;
                  .input-group-addon{
                    display: none;
                  }
                  .form-radio{
                    display: block;
                    visibility: hidden;
                  }
                  input[type='radio']:checked
                  + div{
                    background-color: $color-secondary;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    color: $color-white;
                    outline: none;
                    border-top: 3px solid $color-white;
                    position: relative;
                    top: -2px;
                    .variations-header{
                      background-color: $color-secondary;
                      color: $color-white;
                      top: -62px;
                    }
                    .variation-values-label{
                      color: $color-white;
                    }
                    .variation-values-item{
                      color: $color-white;
                    }
                  }
                  header.variations-header{
                    font-size: 20px;
                    text-transform: capitalize;
                    font-family: 'Roboto-Light';
                    font-weight: 500;
                    position: relative;
                    top: -62px;
                    padding: 17px 10px 14px;
                    text-align: center;
                    &:hover{
                      background-color: $color-secondary;
                      color: $color-white;
                    }
                    @media (max-width: 380px){
                      font-size: 16px;
                      padding-bottom: 20px;
                    }
                  }
                  .variations-values{
                    position: relative;
                    text-align: center;
                    top: -45px;
                    .variation-values-data{
                      padding-bottom: 10px;
                      font-size: 15px;
                      color: $color-black;
                      font-family: 'Roboto-Light';
                      .variation-values-label{
                        text-transform: capitalize;
                      }
                    }
                  }
                }
              }
            }
          }
          /* loading-spinner */
          .ajax-throbber{
            display: none;
          /* ============== */
          }
        }
      }
      #accordion{
        .panel{
          box-shadow: none;
        }
        .panel-default{
          border: none;
          .panel-heading{
            padding: 15px 15px;
            border: 1px solid #eeeeee;
            border-bottom:  3px solid $color-secondary;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-color: white;
            box-shadow: 0 0px 4px 0 rgba(0,0,0,0.2);
            h3{
              font-size: 20px;
              font-family: 'Roboto-Light';
              font-weight: 500;
              a{
                font-size: 14px;
                color: $color-secondary;
                span{
                  margin-right: 5px;
                  @media (max-width: $screen-phone){
                    display: none;
                  }
                }
                .glyphicon-chevron-down{
                  -webkit-transition: all 0.25s ease-out;
                  -moz-transition: all 0.25s ease-out;
                  transition: all 0.25s ease-out;
                }
                &[aria-expanded=true]{
                  .glyphicon-chevron-down{
                    -webkit-transition: all 0.25s ease-out;
                    -moz-transition: all 0.25s ease-out;
                    transition: all 0.25s ease-out;
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
          .panel-collapse{
            .panel-body{
              border: 1px solid #eeeeee;
              border-radius: 0 0 8px 8px;
              box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
              padding: 15px 20px;
              .description-block{
                border-bottom: 1px solid #ECEBEB;
                padding: 30px 15px;
                &:last-child{
                  border-bottom: none;
                }
                .field--label{
                  font-size: 18px;
                  font-family: 'Roboto-Light';
                  font-weight: 500;
                  padding-bottom: 10px;
                }
                .field--item{
                  font-size: 15px;
                  font-family: 'Roboto-Light';
                  position: relative;
                  top: 4px;
                }
              }
              .insurance-register{
                header{
                  font-size: 18px;
                  font-family: 'Roboto-Light';
                  font-weight: 500;
                  padding-bottom: 10px;
                }
                .field--name-field-sugece-colons,
                .field--name-field-sugece-dollars,
                .field--name-field-register-date{
                  display: inline-flex;
                  display: -webkit-inline-box;
                  display: -ms-inline-flexbox;
                  width: 100%;
                  .field--label{
                    font-size: 16px;
                    font-family: 'Roboto-Light';
                    font-weight: 300;
                    min-width: 250px;
                  }
                  .field--item{
                    padding-left: 20px;
                  }
                }
              }
              .insurance-branch{
                .field--label{
                  width: 100%;
                }
              }
              .field--name-field-validity,
              .field--name-field-service-cover,
              .field--name-field-modality-recruitment,
              .field--name-field-branch,
              .field--name-field-type-contract{
                display: inline-block;
              }
            }
          }
        }
      }
      .product_suggestions{
        margin-top: 60px;
        padding: 35px 0 100px 0;
        border-top: 1px solid $color-border-gray;
        h2{
          width: 350px;
          padding: 0 20px;
          @include slide-title();
          margin-bottom: 25px;
        }
        .slick__arrow{
          top: -42px;
          width: 100%;
          text-align: right;
          .slick-arrow{
            height: auto;
            text-align: right;
          }
          .slick-prev{
            width: 95%;
            &:before{
              content: "\f104";
              font-family: 'FontAwesome';
              color: $color-black;
              font-size: 40px;
            }
            @media (min-width: 1340px){
              width: 97% !important;
            }
            @media (max-width: $screen-phone){
              width: 85% !important;
            }
          }
          .slick-next{
            width: auto;
            &:before{
              content: "\f105";
              font-family: 'FontAwesome';
              color: $color-black;
              font-size: 40px;
            }
          }
        }
        .slick-list{
          .slick-track{
            .slide{
              ul{
                li{
                  img{
                    border-radius: 8px;
                  }
                  .slide__caption{
                    padding: 0;
                    h5{
                      @include slide-product-name();
                      padding: 0 20px;
                      text-align: center;
                      position: relative;
                      top: 0px;
                      &::first-letter{
                        text-transform: uppercase;
                      }
                      a{
                        display: inline-block;
                        transition: all 0.2s ease-in-out;
                        -moz-transition: all 0.2s ease-in-out;
                        -webkit-transition: all 0.2s ease-in-out;
                        @include slide-product-name();
                        &::first-letter{
                          text-transform: uppercase;
                        }
                        &:hover{
                          text-decoration: none;
                          transition-duration: 0.2s;
                          transform: scale(1.1);
                          transition-timing-function: ease-in-out;
                          -moz-transition-duration: 0.2s;
                          -moz-transform: scale(1.1);
                          -moz-transition-timing-function: ease-in-out;
                          -webkit-transition-duration: 0.2s;
                          -webkit-transform: scale(1.1);
                          -webkit-transition-timing-function: ease-in-out;
                          color: $color-secondary !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
